<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>All films</title>
</head>
<body>
<div class="container">
    <div class="row">
        <caption align="center">Films</caption>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Raiting</th>
                <th scope="col">Age</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${films}">
                <td th:value="${film.id}"></td>
                <td th:value="${film.title}"></td>
                <td th:value="${film.raiting}"></td>
                <td th:value="${film.age}"></td>
                <td>
                    <a th:href="@{ '/films/edit?id=' + ${film.id}}" class="btn btn-success">Изменить</a>
                    <a th:href="@{ '/films/onefilm?id=' + ${film.id}}" class="btn btn-info">Ближе</a>
                    <a th:href="@{ '/films/delete?id=' + ${film.id}}" class="btn btn-info">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a align="center" class="btn btn-primary" th:href="@{'/films/add'}">Add</a>
    </div>
</div>
</body>
</html>