<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>All films</title>
</head>
<body>
<div class="container">
    <div class="row">
        <caption align="center">Films</caption>
        <table border="1" width="100%" cellspacing="18px" align="center">
            <tr class="font-weight-light">
                <td>Title</td>
                <td>Raiting</td>
                <td>Age</td>
                <td></td>
            </tr>

            <tr class="font-weight-light">
                <td>Jumanji</td>
                <td>9</td>
                <td>12+</td>
                <td height="20">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <button height="20" type="button" class="btn btn-succes">Add</button>
            </tr>


        </table>
    </div>
</div>
</body>
</html>